<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Submit Succeed!</title>
  <link href="/public/styles/main.css" rel="stylesheet" />
</head>

<body>
  <main>
    <h1 id="page_title">
      Hello, <%= name %>
    </h1>


    <div class="card" onclick="location='/'">
      <h3>Home</h3>
    </div>

    <div class="card" onclick="location='/records'">
      <h3>Database</h3>
    </div>
  </main>
</body>

</html>